:root {
  --source: #0B57D0;
  /* primary */
  --primary0: #000000;
  --primary4: #000c2c;
  --primary5: #000e32;
  --primary6: #001137;
  --primary10: #001847;
  --primary12: #001c50;
  --primary17: #002665;
  --primary20: #002b72;
  --primary22: #00307b;
  --primary24: #003485;
  --primary25: #003689;
  --primary30: #0040a1;
  --primary35: #004bb9;
  --primary40: #0856cf;
  --primary50: #3770ea;
  --primary60: #5b8cff;
  --primary70: #88a9ff;
  --primary80: #b2c5ff;
  --primary87: #ced9ff;
  --primary90: #dae2ff;
  --primary92: #e2e7ff;
  --primary94: #eaedff;
  --primary95: #eef0ff;
  --primary96: #f2f3ff;
  --primary98: #faf8ff;
  --primary99: #fefbff;
  --primary100: #ffffff;
  /* secondary */
  --secondary0: #000000;
  --secondary4: #031200;
  --secondary5: #031500;
  --secondary6: #041800;
  --secondary10: #072100;
  --secondary12: #092500;
  --secondary17: #0e3100;
  --secondary20: #113800;
  --secondary22: #133d00;
  --secondary24: #154200;
  --secondary25: #164500;
  --secondary30: #205107;
  --secondary35: #2c5e14;
  --secondary40: #386a1f;
  --secondary50: #508436;
  --secondary60: #699e4d;
  --secondary70: #82ba65;
  --secondary80: #9cd67e;
  --secondary87: #afea8f;
  --secondary90: #b8f397;
  --secondary92: #bdf99c;
  --secondary94: #c3fea1;
  --secondary95: #cdffb0;
  --secondary96: #d9ffc0;
  --secondary98: #eeffde;
  --secondary99: #f7ffec;
  --secondary100: #ffffff;
  /* tertiary */
  --tertiary0: #000000;
  --tertiary4: #000f20;
  --tertiary5: #001225;
  --tertiary6: #001429;
  --tertiary10: #001d36;
  --tertiary12: #00213d;
  --tertiary17: #002b4e;
  --tertiary20: #003258;
  --tertiary22: #00365f;
  --tertiary24: #003b66;
  --tertiary25: #003d6a;
  --tertiary30: #00497d;
  --tertiary35: #005590;
  --tertiary40: #0161a3;
  --tertiary50: #327abe;
  --tertiary60: #5194da;
  --tertiary70: #6eaff6;
  --tertiary80: #9ecaff;
  --tertiary87: #c2dcff;
  --tertiary90: #d1e4ff;
  --tertiary92: #dbe9ff;
  --tertiary94: #e5efff;
  --tertiary95: #eaf1ff;
  --tertiary96: #eef4ff;
  --tertiary98: #f8f9ff;
  --tertiary99: #fdfcff;
  --tertiary100: #ffffff;
  /* neutral */
  --neutral0: #000000;
  --neutral4: #0d0e11;
  --neutral5: #101114;
  --neutral6: #131316;
  --neutral10: #1b1b1f;
  --neutral12: #1f1f23;
  --neutral17: #292a2d;
  --neutral20: #303034;
  --neutral22: #343438;
  --neutral24: #39393c;
  --neutral25: #3b3b3f;
  --neutral30: #46464a;
  --neutral35: #525256;
  --neutral40: #5e5e62;
  --neutral50: #77777a;
  --neutral60: #919094;
  --neutral70: #acaaaf;
  --neutral80: #c7c6ca;
  --neutral87: #dbd9dd;
  --neutral90: #e4e2e6;
  --neutral92: #e9e7ec;
  --neutral94: #efedf1;
  --neutral95: #f2f0f4;
  --neutral96: #f5f3f7;
  --neutral98: #fbf8fd;
  --neutral99: #fefbff;
  --neutral100: #ffffff;
  /* neutral-variant */
  --neutral-variant0: #000000;
  --neutral-variant4: #0a0f14;
  --neutral-variant5: #0d1117;
  --neutral-variant6: #0f141a;
  --neutral-variant10: #171c22;
  --neutral-variant12: #1b2026;
  --neutral-variant17: #262a31;
  --neutral-variant20: #2c3137;
  --neutral-variant22: #30353c;
  --neutral-variant24: #353940;
  --neutral-variant25: #373c43;
  --neutral-variant30: #43474e;
  --neutral-variant35: #4e535a;
  --neutral-variant40: #5a5f66;
  --neutral-variant50: #73777f;
  --neutral-variant60: #8d9199;
  --neutral-variant70: #a7abb4;
  --neutral-variant80: #c3c7cf;
  --neutral-variant87: #d6dae3;
  --neutral-variant90: #dfe2eb;
  --neutral-variant92: #e5e8f1;
  --neutral-variant94: #eaeef7;
  --neutral-variant95: #edf1fa;
  --neutral-variant96: #f0f4fc;
  --neutral-variant98: #f8f9ff;
  --neutral-variant99: #fdfcff;
  --neutral-variant100: #ffffff;
  /* error */
  --error0: #000000;
  --error4: #280001;
  --error5: #2d0001;
  --error6: #310001;
  --error10: #410002;
  --error12: #490002;
  --error17: #5c0004;
  --error20: #690005;
  --error22: #710005;
  --error24: #790006;
  --error25: #7e0007;
  --error30: #93000a;
  --error35: #a80710;
  --error40: #ba1a1a;
  --error50: #de3730;
  --error60: #ff5449;
  --error70: #ff897d;
  --error80: #ffb4ab;
  --error87: #ffcfc9;
  --error90: #ffdad6;
  --error92: #ffe2de;
  --error94: #ffe9e6;
  --error95: #ffedea;
  --error96: #fff0ee;
  --error98: #fff8f7;
  --error99: #fffbff;
  --error100: #ffffff;
  /* light */
  --color-primary-light: #0856cf;
  --color-on-primary-light: #ffffff;
  --color-primary-container-light: #dae2ff;
  --color-on-primary-container-light: #001847;
  --color-primary-fixed-light: #dae2ff;
  --color-on-primary-fixed-light: #001847;
  --color-primary-fixed-dim-light: #b2c5ff;
  --color-on-primary-fixed-variant-light: #0040a1;
  --color-secondary-light: #386a1f;
  --color-on-secondary-light: #ffffff;
  --color-secondary-container-light: #b8f397;
  --color-on-secondary-container-light: #072100;
  --color-secondary-fixed-light: #b8f397;
  --color-on-secondary-fixed-light: #072100;
  --color-secondary-fixed-dim-light: #9cd67e;
  --color-on-secondary-fixed-variant-light: #205107;
  --color-tertiary-light: #0161a3;
  --color-on-tertiary-light: #ffffff;
  --color-tertiary-container-light: #d1e4ff;
  --color-on-tertiary-container-light: #001d36;
  --color-tertiary-fixed-light: #d1e4ff;
  --color-on-tertiary-fixed-light: #001d36;
  --color-tertiary-fixed-dim-light: #9ecaff;
  --color-on-tertiary-fixed-variant-light: #00497d;
  --color-error-light: #ba1a1a;
  --color-error-container-light: #ffdad6;
  --color-on-error-light: #ffffff;
  --color-on-error-container-light: #410002;
  --color-background-light: #fefbff;
  --color-on-background-light: #1b1b1f;
  --color-outline-light: #73777f;
  --color-inverse-on-surface-light: #f2f0f4;
  --color-inverse-surface-light: #303034;
  --color-inverse-primary-light: #b2c5ff;
  --color-shadow-light: #000000;
  --color-surface-tint-light: #0856cf;
  --color-outline-variant-light: #c3c7cf;
  --color-scrim-light: #000000;
  --color-surface-light: #fbf8fd;
  --color-on-surface-light: #1b1b1f;
  --color-surface-variant-light: #dfe2eb;
  --color-on-surface-variant-light: #43474e;
  --color-surface-container-highest-light: #e4e2e6;
  --color-surface-container-high-light: #e9e7ec;
  --color-surface-container-light: #efedf1;
  --color-surface-container-low-light: #f5f3f7;
  --color-surface-container-lowest-light: #ffffff;
  --color-surface-dim-light: #dbd9dd;
  --color-surface-bright-light: #fbf8fd;
  /* dark */
  --color-primary-dark: #b2c5ff;
  --color-on-primary-dark: #002b72;
  --color-primary-container-dark: #0040a1;
  --color-on-primary-container-dark: #dae2ff;
  --color-primary-fixed-dark: #dae2ff;
  --color-on-primary-fixed-dark: #001847;
  --color-primary-fixed-dim-dark: #b2c5ff;
  --color-on-primary-fixed-variant-dark: #0040a1;
  --color-secondary-dark: #9cd67e;
  --color-on-secondary-dark: #113800;
  --color-secondary-container-dark: #205107;
  --color-on-secondary-container-dark: #b8f397;
  --color-secondary-fixed-dark: #b8f397;
  --color-on-secondary-fixed-dark: #072100;
  --color-secondary-fixed-dim-dark: #9cd67e;
  --color-on-secondary-fixed-variant-dark: #205107;
  --color-tertiary-dark: #9ecaff;
  --color-on-tertiary-dark: #003258;
  --color-tertiary-container-dark: #00497d;
  --color-on-tertiary-container-dark: #d1e4ff;
  --color-tertiary-fixed-dark: #d1e4ff;
  --color-on-tertiary-fixed-dark: #001d36;
  --color-tertiary-fixed-dim-dark: #9ecaff;
  --color-on-tertiary-fixed-variant-dark: #00497d;
  --color-error-dark: #ffb4ab;
  --color-error-container-dark: #93000a;
  --color-on-error-dark: #690005;
  --color-on-error-container-dark: #ffdad6;
  --color-background-dark: #1b1b1f;
  --color-on-background-dark: #e4e2e6;
  --color-outline-dark: #8d9199;
  --color-inverse-on-surface-dark: #1b1b1f;
  --color-inverse-surface-dark: #e4e2e6;
  --color-inverse-primary-dark: #0856cf;
  --color-shadow-dark: #000000;
  --color-surface-tint-dark: #b2c5ff;
  --color-outline-variant-dark: #43474e;
  --color-scrim-dark: #000000;
  --color-surface-dark: #131316;
  --color-on-surface-dark: #c7c6ca;
  --color-surface-variant-dark: #43474e;
  --color-on-surface-variant-dark: #c3c7cf;
  --color-surface-container-highest-dark: #343438;
  --color-surface-container-high-dark: #292a2d;
  --color-surface-container-dark: #1f1f23;
  --color-surface-container-low-dark: #1b1b1f;
  --color-surface-container-lowest-dark: #0d0e11;
  --color-surface-dim-dark: #131316;
  --color-surface-bright-dark: #39393c;
  /* display - large */
  --display-large-font-family-name: Roboto;
  --display-large-font-family-style: Regular;
  --display-large-font-weight: 400px;
  --display-large-font-size: 57px;
  --display-large-line-height: 64px;
  --display-large-letter-spacing: -0.25px;
  /* display - medium */
  --display-medium-font-family-name: Roboto;
  --display-medium-font-family-style: Regular;
  --display-medium-font-weight: 400px;
  --display-medium-font-size: 45px;
  --display-medium-line-height: 52px;
  --display-medium-letter-spacing: 0px;
  /* display - small */
  --display-small-font-family-name: Roboto;
  --display-small-font-family-style: Regular;
  --display-small-font-weight: 400px;
  --display-small-font-size: 36px;
  --display-small-line-height: 44px;
  --display-small-letter-spacing: 0px;
  /* headline - large */
  --headline-large-font-family-name: Roboto;
  --headline-large-font-family-style: Regular;
  --headline-large-font-weight: 400px;
  --headline-large-font-size: 32px;
  --headline-large-line-height: 40px;
  --headline-large-letter-spacing: 0px;
  /* headline - medium */
  --headline-medium-font-family-name: Roboto;
  --headline-medium-font-family-style: Regular;
  --headline-medium-font-weight: 400px;
  --headline-medium-font-size: 28px;
  --headline-medium-line-height: 36px;
  --headline-medium-letter-spacing: 0px;
  /* headline - small */
  --headline-small-font-family-name: Roboto;
  --headline-small-font-family-style: Regular;
  --headline-small-font-weight: 400px;
  --headline-small-font-size: 24px;
  --headline-small-line-height: 32px;
  --headline-small-letter-spacing: 0px;
  /* body - large */
  --body-large-font-family-name: Roboto;
  --body-large-font-family-style: Regular;
  --body-large-font-weight: 400px;
  --body-large-font-size: 16px;
  --body-large-line-height: 24px;
  --body-large-letter-spacing: 0.50px;
  /* body - medium */
  --body-medium-font-family-name: Roboto;
  --body-medium-font-family-style: Regular;
  --body-medium-font-weight: 400px;
  --body-medium-font-size: 14px;
  --body-medium-line-height: 20px;
  --body-medium-letter-spacing: 0.25px;
  /* body - small */
  --body-small-font-family-name: Roboto;
  --body-small-font-family-style: Regular;
  --body-small-font-weight: 400px;
  --body-small-font-size: 12px;
  --body-small-line-height: 16px;
  --body-small-letter-spacing: 0.40px;
  /* label - large */
  --label-large-font-family-name: Roboto;
  --label-large-font-family-style: Medium;
  --label-large-font-weight: 500px;
  --label-large-font-size: 14px;
  --label-large-line-height: 20px;
  --label-large-letter-spacing: 0.10px;
  /* label - medium */
  --label-medium-font-family-name: Roboto;
  --label-medium-font-family-style: Medium;
  --label-medium-font-weight: 500px;
  --label-medium-font-size: 12px;
  --label-medium-line-height: 16px;
  --label-medium-letter-spacing: 0.50px;
  /* label - small */
  --label-small-font-family-name: Roboto;
  --label-small-font-family-style: Medium;
  --label-small-font-weight: 500px;
  --label-small-font-size: 11px;
  --label-small-line-height: 16px;
  --label-small-letter-spacing: 0.50px;
  /* title - large */
  --title-large-font-family-name: Roboto;
  --title-large-font-family-style: Regular;
  --title-large-font-weight: 400px;
  --title-large-font-size: 22px;
  --title-large-line-height: 28px;
  --title-large-letter-spacing: 0px;
  /* title - medium */
  --title-medium-font-family-name: Roboto;
  --title-medium-font-family-style: Medium;
  --title-medium-font-weight: 500px;
  --title-medium-font-size: 16px;
  --title-medium-line-height: 24px;
  --title-medium-letter-spacing: 0.15px;
  /* title - small */
  --title-small-font-family-name: Roboto;
  --title-small-font-family-style: Medium;
  --title-small-font-weight: 500px;
  --title-small-font-size: 14px;
  --title-small-line-height: 20px;
  --title-small-letter-spacing: 0.10px;
}
